<a href="https://colab.research.google.com/github/Axlbenja/axel.paredes/blob/main/Ramen_%26_Avocado_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install scikit-learn imbalanced-learn

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from imblearn.over_sampling import SMOTE, RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler, TomekLinks
from imblearn.combine import SMOTETomek
from sklearn.impute import SimpleImputer

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.11/dist-packages (0.13.0)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: sklearn-compat<1,>=0.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (0.1.3)

#1. Ramen Dataset

In [3]:
#Task 1: Read data and display first five row
df = pd.read_csv("https://raw.githubusercontent.com/fenago/dw/refs/heads/main/ramen-ratings.csv")
print("First 5 rows of the original DataFrame:")
print(df.head())

First 5 rows of the original DataFrame:
            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

  Country  Stars
0   Japan   3.75
1  Taiwan   1.00
2     USA   2.25
3  Taiwan   2.75
4   India   3.75

In [5]:
#Task 2: Add a column with the average rating per country
df['AvgRatingByCountry'] = df.groupby('Country')['Stars'].transform('mean')
print("\nFirst 5 rows after adding AvgRatingByCountry column:")
print(df.head())

First 5 rows after adding AvgRatingByCountry column:
            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

  Country  Stars  AvgRatingByCountry
0   Japan   3.75            3.981605
1  Taiwan   1.00            3.665402
2     USA   2.25            3.457043
3  Taiwan   2.75            3.665402
4   India   3.75            3.395161

In [6]:
#Task 3: Group by Country and Style, then take the mean and unstack the Style column
country_style_avg = df.groupby(['Country', 'Style'])['Stars'].mean().unstack()
print("\nGrouped data by Country and Style, unstacked for Stars:")
print(country_style_avg)

Grouped data by Country and Style, unstacked for Stars:
Style          Bar      Bowl   Box  Can       Cup      Pack      Tray
Country
Australia      NaN       NaN   NaN  NaN  3.120588  3.200000       NaN
Bangladesh     NaN       NaN   NaN  NaN       NaN  3.714286       NaN
Brazil         NaN       NaN   NaN  NaN  4.500000  4.250000       NaN
Cambodia       NaN       NaN   NaN  NaN       NaN  4.200000       NaN
Canada         NaN  2.281250   NaN  NaN  1.970588  2.515625       NaN
China          NaN  3.527778   NaN  NaN  2.859375  3.538776  2.583333
Colombia       NaN       NaN   NaN  NaN  3.083333  3.500000       NaN
Dubai          NaN       NaN   NaN  NaN       NaN  3.583333       NaN
Estonia        NaN       NaN   NaN  NaN       NaN  3.500000       NaN
Fiji           NaN       NaN   NaN  NaN       NaN  3.875000       NaN
Finland        NaN       NaN   NaN  NaN       NaN  3.583333       NaN
Germany        NaN       NaN   NaN  NaN  3.704545  3.593750       NaN
Ghana          NaN       NaN   NaN  NaN       NaN  3.500000       NaN
Holland        NaN       NaN   NaN  NaN       NaN  3.562500       NaN
Hong Kong      NaN  3.735000   NaN  NaN  4.039474  3.702239  3.625000
Hungary        NaN       NaN   NaN  NaN       NaN  3.611111       NaN
India          NaN       NaN   NaN  NaN  2.583333  3.482143       NaN
Indonesia      NaN       NaN  4.25  NaN  3.940476  4.091346       NaN
Japan          NaN  4.140278  5.00  NaN  3.940816  3.801613  4.375000
Malaysia       NaN  4.281250  5.00  NaN  4.011905  4.156452       NaN
Mexico         NaN       NaN   NaN  NaN  3.733333  3.725000       NaN
Myanmar        NaN       NaN   NaN  NaN  4.083333  3.909091       NaN
Nepal          NaN       NaN   NaN  NaN       NaN  3.553571       NaN
Netherlands    NaN       NaN   NaN  NaN  1.333333  2.770833       NaN
Nigeria        NaN       NaN   NaN  NaN       NaN  1.500000       NaN
Pakistan       NaN       NaN   NaN  NaN       NaN  3.000000       NaN
Philippines    NaN  3.375000   NaN  NaN  2.937500  3.363636       NaN
Poland         NaN       NaN   NaN  NaN       NaN  3.625000       NaN
Sarawak        NaN       NaN   NaN  NaN       NaN  4.333333       NaN
Singapore      NaN  4.096154   NaN  NaN  3.925926  4.210145       NaN
South Korea    NaN  3.865809   NaN  NaN  3.500000  3.857459  3.479167
Sweden         NaN       NaN   NaN  NaN       NaN  3.250000       NaN
Taiwan         NaN  3.263514   NaN  NaN  3.250000  3.761326  3.333333
Thailand       NaN  3.142045   NaN  NaN  3.588542  3.386598  3.750000
UK             NaN  3.250000   NaN  NaN  2.978125  3.000000       NaN
USA            5.0  3.400000  1.50  3.5  3.376786  3.554688  3.408654
United States  NaN       NaN   NaN  NaN       NaN  3.750000       NaN
Vietnam        NaN  3.362500   NaN  NaN  2.656250  3.183333  3.750000

In [7]:
#Task 4: Function to shorten Variety names
def shorten_variety(variety):
    words = variety.split()[:2] + ['...']  # Take first two words and add ellipsis
    return ' '.join(words)

In [8]:
#Task 5: Apply function to create ShortVariety column
df['ShortVariety'] = df['Variety'].apply(shorten_variety)
print("\nFirst 5 rows after adding ShortVariety column:")
print(df.head())

First 5 rows after adding ShortVariety column:
            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

  Country  Stars  AvgRatingByCountry         ShortVariety
0   Japan   3.75            3.981605   T's Restaurant ...
1  Taiwan   1.00            3.665402    Noodles Spicy ...
2     USA   2.25            3.457043      Cup Noodles ...
3  Taiwan   2.75            3.665402        GGE Ramen ...
4   India   3.75            3.395161  Singapore Curry ...

In [9]:
#Task 6: Set index to Brand and display first five rows
df.set_index('Brand', inplace=True)
print("\nFirst 5 rows after setting Brand as index:")
print(df.head())

First 5 rows after setting Brand as index:
                                                          Variety Style  \
Brand
New Touch                               T's Restaurant Tantanmen    Cup
Just Way        Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
Nissin                              Cup Noodles Chicken Vegetable   Cup
Wei Lih                             GGE Ramen Snack Tomato Flavor  Pack
Ching's Secret                                    Singapore Curry  Pack

               Country  Stars  AvgRatingByCountry         ShortVariety
Brand
New Touch        Japan   3.75            3.981605   T's Restaurant ...
Just Way        Taiwan   1.00            3.665402    Noodles Spicy ...
Nissin             USA   2.25            3.457043      Cup Noodles ...
Wei Lih         Taiwan   2.75            3.665402        GGE Ramen ...
Ching's Secret   India   3.75            3.395161  Singapore Curry ...

In [10]:
#Task 7: Reset index to default
df.reset_index(inplace=True)
print("\nFirst 5 rows after resetting the index:")
print(df.head())

First 5 rows after resetting the index:
            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

  Country  Stars  AvgRatingByCountry         ShortVariety
0   Japan   3.75            3.981605   T's Restaurant ...
1  Taiwan   1.00            3.665402    Noodles Spicy ...
2     USA   2.25            3.457043      Cup Noodles ...
3  Taiwan   2.75            3.665402        GGE Ramen ...
4   India   3.75            3.395161  Singapore Curry ...

#2. Avocado Dataset

In [21]:
#1. Read the data from the .csv file into a DataFrame and display the first five rows.
url = 'https://raw.githubusercontent.com/fenago/dw/refs/heads/main/avocado.csv'
df = pd.read_csv(url)
print("First 5 rows of the original DataFrame:")
print(df.head())

First 5 rows of the original DataFrame:
   Unnamed: 0        Date  AveragePrice  Total Volume     4046       4225  \
0           0  2015-12-27          1.33      64236.62  1036.74   54454.85
1           1  2015-12-20          1.35      54876.98   674.28   44638.81
2           2  2015-12-13          0.93     118220.22   794.70  109149.67
3           3  2015-12-06          1.08      78992.15  1132.00   71976.41
4           4  2015-11-29          1.28      51039.60   941.48   43838.39

     4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
0   48.16     8696.87     8603.62       93.25          0.0  conventional
1   58.33     9505.56     9408.07       97.49          0.0  conventional
2  130.50     8145.35     8042.21      103.14          0.0  conventional
3   72.58     5811.16     5677.40      133.76          0.0  conventional
4   75.78     6183.95     5986.26      197.69          0.0  conventional

   year  region
0  2015  Albany
1  2015  Albany
2  2015  Albany
3  2015  Albany
4  2015  Albany

In [23]:
#2. Change the column names to title case with no spaces.
df.columns = [col.replace(' ', '').title() for col in df.columns]
print("\nColumn names after standardization:")
print(df.columns)

Column names after standardization:
Index(['Unnamed:0', 'Date', 'Averageprice', 'Totalvolume', '4046', '4225',
       '4770', 'Totalbags', 'Smallbags', 'Largebags', 'Xlargebags', 'Type',
       'Year', 'Region'],
      dtype='object')

In [27]:
#3. Add a column with the percentage of the bags in the TotalBags column that are extra-large bags.
df['ExtraLargeBagPercentage'] = (df['Xlargebags'] / df['Totalbags']) * 100

In [30]:
#4. Add a column with the percentage of the bags in the TotalBags column that are large bags.
df['LargeBagPercentage'] = (df['Largebags'] / df['Totalbags']) * 100

In [32]:
#5. Add a column with the percentage of the bags in the TotalBags column that are small bags.
df['SmallBagPercentage'] = (df['Smallbags'] / df['Totalbags']) * 100

In [33]:
#6.Display the first five rows of data to view the new columns.
print("\nFirst 5 rows after adding new percentage columns:")
print(df.head())

First 5 rows after adding new percentage columns:
   Unnamed:0        Date  Averageprice  Totalvolume     4046       4225  \
0          0  2015-12-27          1.33     64236.62  1036.74   54454.85
1          1  2015-12-20          1.35     54876.98   674.28   44638.81
2          2  2015-12-13          0.93    118220.22   794.70  109149.67
3          3  2015-12-06          1.08     78992.15  1132.00   71976.41
4          4  2015-11-29          1.28     51039.60   941.48   43838.39

     4770  Totalbags  Smallbags  Largebags  Xlargebags          Type  Year  \
0   48.16    8696.87    8603.62      93.25         0.0  conventional  2015
1   58.33    9505.56    9408.07      97.49         0.0  conventional  2015
2  130.50    8145.35    8042.21     103.14         0.0  conventional  2015
3   72.58    5811.16    5677.40     133.76         0.0  conventional  2015
4   75.78    6183.95    5986.26     197.69         0.0  conventional  2015

   Region  ExtraLargeBagPercentage  LargeBagPercentage  SmallBagPercentage
0  Albany                      0.0            1.072225           98.927775
1  Albany                      0.0            1.025610           98.974390
2  Albany                      0.0            1.266244           98.733756
3  Albany                      0.0            2.301778           97.698222
4  Albany                      0.0            3.196824           96.803176

In [35]:
#7. Assign the Region, Type, Year, and TotalBags columns to a new DataFrame.
new_df = df[['Region', 'Type', 'Year', 'Totalbags']].copy()
print("\nNew DataFrame with selected columns:")
print(new_df.head())

New DataFrame with selected columns:
   Region          Type  Year  Totalbags
0  Albany  conventional  2015    8696.87
1  Albany  conventional  2015    9505.56
2  Albany  conventional  2015    8145.35
3  Albany  conventional  2015    5811.16
4  Albany  conventional  2015    6183.95